body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #252525;
    color:white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}


.header {
    width: 100%;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

dt {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
}

#profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("/myprofile.jpg") no-repeat;
    background-size: 400px 400px;
    background-position-x: -30px;
    border: 3px solid #585858;
}

.table-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 16px;
}

.table-wrapper::-webkit-scrollbar {
    width: 12px;
}

table caption {
    padding: 4px;
}

table {
    width:70%;
    text-align:center;
    margin: 0 auto;
    border:1px solid white;
    border-collapse: collapse;
}

tr:nth-child(1) {
    color: #252525;
    background: white;
}

td,th {
    padding: 16px;
}

.skill-title h1 {
    text-align: center;
}

.skills {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 64px auto;
}

.skills-wrapper {
    display: grid;
    width: 70%;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap:  64px 128px;
}

@media screen and (max-width: 600px) {
    .skills-wrapper {
        display: grid;
        width: 70%;
        grid-template-columns: 100px 100px;
        grid-gap:  64px 128px;
    }

    .mongodb {
        grid-area: 5 / 1 / 6 / 2;
    }
    
    .python {
        grid-area: 5 / 2 / 6 / 3;
    }
    
}

@media screen and (min-width: 600px) {
    .mongodb {
        grid-area: 3 / 2 / 4 / 3;
    }
    
    .python {
        grid-area: 3 / 3 / 4 / 4;
    }
}


#github-link  {
    text-align:center;
}



a {
    text-decoration:none;
    color:white;
}












































































































































































































































































































































































































































































































































































































